{% if awx_nginx_auth_outer is defined %}
{{ awx_nginx_auth_outer }}
{% endif %}

location / {
{% if awx_nginx_auth_inner is defined %}
    {{ awx_nginx_auth_inner}}
{% endif %}
    proxy_set_header Host $host;
    proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass http://localhost:{{ awxsvc.stdout }};
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Port 443;
}
